// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
// Warm Colors
$grain: #D7CEC7;
$blackboard: #565656;
$oxblood: #76323F;
$tan: #C09F80;
// Clean and Highlighted
$sky: #CAEBF2;
$carbon: #A9A9A9;
$watermelon: #FF3B3F;
$neutral: #EFEFEF;
// Fun and Professional
$fresh: #4ABDAC;
$vermillion: #FC4A1A;
$sunshine: #F78733;
$clean: #DFDCE3;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$font-size-title: 4.1rem;
// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
